body {
  text-align: center;
  background-color: #A8DBA8;
  color: #444;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif; }

h1 {
  text-shadow: 0px 0px 20px #CCC; }

.entry {
  display: inline-block;
  margin: 1em;
  border: #000;
  border-radius: 5px; 
  margin-bottom: 2em;
}

.twitterFeed, .news {
  display: inline-block;
  margin: 1em;
  padding: 1em;
  border-bottom: solid black 0.5em; }

.twitterFeed {
  width: 15em; }

.news {
  width: 35em; }

/*Reference
element.class
element#id

spacing: all
spacing: vertical horizontal
spacing: top horizontal bottom
spacing: top right bottom left

text-shadow: offset-x offset-y blur-radius colour
box-shadow: offset-x offset-y blur-radius spread-radius colour
*/
